:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-out {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.hidden {
  display: none;
}

.active {
  color: yellowgreen;
}
